<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bye</display-name>
    <servlet-name>Bye</servlet-name>
    <servlet-class>com.Bye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bye</servlet-name>
    <url-pattern>/Bye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetatilsServlet</display-name>
    <servlet-name>CustomerDetatilsServlet</servlet-name>
    <servlet-class>com.CustomerDetatilsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetatilsServlet</servlet-name>
    <url-pattern>/secret</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidServlet</display-name>
    <servlet-name>ValidServlet</servlet-name>
    <servlet-class>com.ValidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidServlet</servlet-name>
    <url-pattern>/ValidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidServlet</display-name>
    <servlet-name>InvalidServlet</servlet-name>
    <servlet-class>com.InvalidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidServlet</servlet-name>
    <url-pattern>/InvalidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productServlet</display-name>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>com.productServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculate</display-name>
    <servlet-name>calculate</servlet-name>
    <servlet-class>com.calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finalBilling</display-name>
    <servlet-name>finalBilling</servlet-name>
    <servlet-class>com.finalBilling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalBilling</servlet-name>
    <url-pattern>/finalBilling</url-pattern>
  </servlet-mapping>
</web-app>